// Project 3 Main Style

@import "partials/setup";
@import "partials/utils";

html {
    background: lemonchiffon;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    text-align: center;
}

.headshot {
    width: 30vw;
    height: 30vw;
    margin: 0 auto;
}

form {
    display: flex;
}